aws.txt
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.env
frontend/out
frontend/node_modules
backend/lambda-package
lambda-authorizer-java/target
lambda-authorizer-java/.idea